In [1]:
import findspark
findspark.init()

import pyspark

In [2]:
# Create a entry point to our spark cluster.
sc = pyspark.SparkContext(appName='flights')

In [3]:
# Create interface to our spark cluster.
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [4]:
import pandas as pd
import numpy as np

In [5]:
flights = spark.read.csv("flights_small.csv", inferSchema=True, header=True)
airports = spark.read.csv("airports.csv", inferSchema=True, header=True)
planes = spark.read.csv("planes.csv", inferSchema=True, header=True)

In [6]:
# Check data types for these guys.
print('####### flights #######')
print(flights.printSchema())
print('####### airports #######')
print(airports.printSchema())
print('####### planes #######')
print(planes.printSchema())

####### flights #######
root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

None
####### airports #######
root
 |-- faa: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- alt: integer (nullable = true)
 |-- tz: integer (nullable = true)
 |-- dst: string (nullable = true)

None
####### planes #######
root
 |-- tailnum: string (nullable = true)
 |-- year: string (nullable = true)
 |-- type: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- engines: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- speed: string (nullable = true)
 |-- engine: string (nullable = true)

None

#### Okay so we've got some integers imported correctely, which is good. inferSchema() method seems to work fine.

In [7]:
print('Oldest flight')
flights.select('year').groupby().max().show()

print('Most recent flight')
flights.select('year').groupby().min().show()

Oldest flight
+---------+
|max(year)|
+---------+
|     2014|
+---------+

Most recent flight
+---------+
|min(year)|
+---------+
|     2014|
+---------+

**Okay here we're doing some selections and filters to get familiar with the datasets.**

In [8]:
print('Average distance covered')
flights.select('distance').groupby().mean().show()

print('Maximum distance covered')
flights.select('distance').groupby().max().show()

print('Minimum distance covered')
flights.select('distance').groupby().min().show()

Average distance covered
+-------------+
|avg(distance)|
+-------------+
|    1208.1516|
+-------------+

Maximum distance covered
+-------------+
|max(distance)|
+-------------+
|         2724|
+-------------+

Minimum distance covered
+-------------+
|min(distance)|
+-------------+
|           93|
+-------------+

#### We might be then interested in capturing details of the longest flight. It's origin, it's destination, the plane that was involved in this flight etc... Typically this will be done by doing some joins on other datasets (planes and airports)

In [9]:
temp_longest = flights.groupby('tailnum')
temp_longest
longest_fight_temp = temp_longest.max('distance')
longest_fight_temp.select('tailnum').first()

Row(tailnum='N442AS')

In [10]:
longest_distance_flight = longest_fight_temp.join(planes, on='tailnum', how='inner')

In [11]:
longest_distance_flight.show()

+-------+-------------+----+--------------------+----------------+--------+-------+-----+-----+---------+
|tailnum|max(distance)|year|                type|    manufacturer|   model|engines|seats|speed|   engine|
+-------+-------------+----+--------------------+----------------+--------+-------+-----+-----+---------+
| N102UW|         2282|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N105UW|         2279|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N107US|         2279|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N108UW|         2279|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N109UW|         2282|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N110UW|         2378|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N111US|         2282|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N112US|         2378|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N117UW|         2378|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N119US|         2282|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N1201P|         2172|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330|   NA|Turbo-fan|
| N121DE|         1927|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330|   NA|Turbo-fan|
| N121UW|         2282|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N12221|         1874|1998|Fixed wing multi ...|          BOEING| 737-824|      2|  149|   NA|Turbo-fan|
| N12225|          679|1998|Fixed wing multi ...|          BOEING| 737-824|      2|  149|   NA|Turbo-fan|
| N12238|         1739|1999|Fixed wing multi ...|          BOEING| 737-824|      2|  149|   NA|Turbo-fan|
| N122US|         2279|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N123UW|         2378|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
| N124DE|         1927|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330|   NA|Turbo-fan|
| N124US|         1107|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182|   NA|Turbo-fan|
+-------+-------------+----+--------------------+----------------+--------+-------+-----+-----+---------+
only showing top 20 rows

In [ ]:
# Distinct destinations.

distinct_origins = flights.select('origin').distinct()
distinct_origins.show()

# Distinct origins.
distinct_dest = flights.select('dest').distinct()
distinct_dest.show()
print('Number of unique destinations: ', distinct_dest.count())

In [183]:
flights.withColumn('arr_delay', flights.arr_delay.cast('double'))

DataFrame[year: int, month: int, day: int, dep_time: string, dep_delay: string, arr_time: string, arr_delay: double, carrier: string, tailnum: string, flight: int, origin: string, dest: string, air_time: string, distance: int, hour: string, minute: string]

In [182]:
flights.show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

In [184]:
late = flights.arr_delay > 0
late_flights = flights.groupby().max('arr_delay')

AnalysisException: '"arr_delay" is not a numeric column. Aggregation function can only be applied on a numeric column.;'